In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

In [3]:
s1 = pd.Series(np.arange(10))
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [4]:
s1[9]

9

In [5]:
s2 = pd.Series([1, 2, 3, 4, 5])
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
s2.values,s2.index

(array([1, 2, 3, 4, 5]), RangeIndex(start=0, stop=5, step=1))

In [7]:
s3 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s3

a    1
b    2
c    3
dtype: int64

In [8]:
s3['a']

1

In [9]:
s4 = pd.Series(2, index=s2.index)
s4

0    2
1    2
2    2
3    2
4    2
dtype: int64

In [10]:
s6 = pd.Series({'a': 1, 'b': 2, 'c': 3, 'd': 4})
s6

a    1
b    2
c    3
d    4
dtype: int64

In [11]:
np.random.seed(123456)
s4 = pd.Series(np.random.randn(5))
s4

0    0.469112
1   -0.282863
2   -1.509059
3   -1.135632
4    1.212112
dtype: float64

In [12]:
s = pd.Series([0, 1, 1, 2, 3, 4, 5, 6, 7, np.nan])
s.shape,s.size, len(s), s.count()

((10,), 10, 10, 9)

In [13]:
s.unique()

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7., nan])

In [14]:
s.value_counts()

1.0    2
7.0    1
6.0    1
5.0    1
4.0    1
3.0    1
2.0    1
0.0    1
dtype: int64

In [15]:
s.head()
s.head(n = 3)

0    0.0
1    1.0
2    1.0
dtype: float64

In [16]:
s.tail(n=3)

7    6.0
8    7.0
9    NaN
dtype: float64

In [17]:
s.take([0, 3, 9])

0    0.0
3    2.0
9    NaN
dtype: float64

In [18]:
s3[1],s3[['a','b']]

(2, a    1
 b    2
 dtype: int64)

In [19]:
s5 = pd.Series([1, 2, 3], index=[10, 11, 12])

In [20]:
s5

10    1
11    2
12    3
dtype: int64

In [21]:
s5[11]

2

In [22]:
s5.loc[12]

3

In [23]:
s5.iloc[2]

3

In [24]:
s6 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s6

a    1
b    2
c    3
d    4
dtype: int64

In [25]:
s7 = pd.Series([4, 3, 2, 1], index=['d', 'c', 'b', 'a'])
s7

d    4
c    3
b    2
a    1
dtype: int64

In [26]:
s6 + s7

a    2
b    4
c    6
d    8
dtype: int64

In [27]:
s3

a    1
b    2
c    3
dtype: int64

In [28]:
t = pd.Series(2, s3.index)
t

a    2
b    2
c    2
dtype: int64

In [29]:
s3 * t

a    2
b    4
c    6
dtype: int64

In [30]:
t = pd.Series(2, s3.index)

In [31]:
t

a    2
b    2
c    2
dtype: int64

In [32]:
s8 = pd.Series({'a': 1, 'b': 2, 'c': 3, 'd': 5})

In [33]:
s8

a    1
b    2
c    3
d    5
dtype: int64

In [34]:
s9 = pd.Series({'b': 6, 'c': 7, 'd': 9, 'e': 10})
s9

b     6
c     7
d     9
e    10
dtype: int64

In [35]:
s8 + s9

a     NaN
b     8.0
c    10.0
d    14.0
e     NaN
dtype: float64

In [36]:
s10 = pd.Series([1.0, 2.0, 3.0], index=['a', 'a', 'b'])
s10

a    1.0
a    2.0
b    3.0
dtype: float64

In [37]:
s11 = pd.Series([4.0, 5.0, 6.0], index=['a', 'a', 'c'])
s11

a    4.0
a    5.0
c    6.0
dtype: float64

In [38]:
s10 + s11

a    5.0
a    6.0
a    6.0
a    7.0
b    NaN
c    NaN
dtype: float64

In [39]:
nda = np.array([1, 2, 3, 4, 5])
nda.mean()

3.0

In [40]:
nda = np.array([1, 2, 3, 4, np.NaN])
nda.mean()

nan

In [41]:
s = pd.Series(nda)
s.mean()

2.5

In [42]:
s.mean(skipna=True)

2.5

In [43]:
s = pd.Series(np.arange(0, 10))

In [44]:
s>7

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8     True
9     True
dtype: bool

In [45]:
s[s>3]

4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [46]:
s[(s>1) & (s < 8)]

2    2
3    3
4    4
5    5
6    6
7    7
dtype: int64

In [47]:
np.random.seed(123456)
s1 = pd.Series(np.random.randn(4), ['a', 'b', 'c', 'd'])
s1

a    0.469112
b   -0.282863
c   -1.509059
d   -1.135632
dtype: float64

In [48]:
s1.reindex(['a', 'c', 'g'])

a    0.469112
c   -1.509059
g         NaN
dtype: float64

In [49]:
s1

a    0.469112
b   -0.282863
c   -1.509059
d   -1.135632
dtype: float64

In [50]:
np.random.seed(123456)
s1 = pd.Series(np.random.randn(3))
s2 = pd.Series(np.random.randn(3))
combined = pd.concat([s1, s2])
combined

0    0.469112
1   -0.282863
2   -1.509059
0   -1.135632
1    1.212112
2   -0.173215
dtype: float64

In [51]:
s = pd.Series(np.arange(100, 110), index=np.arange(10, 20))
s

10    100
11    101
12    102
13    103
14    104
15    105
16    106
17    107
18    108
19    109
dtype: int64

In [52]:
combined.index = np.arange(0, len(combined))
combined

0    0.469112
1   -0.282863
2   -1.509059
3   -1.135632
4    1.212112
5   -0.173215
dtype: float64

In [85]:
s1 = pd.Series([0, 1, 2], index=[0, 1, 2])
s2 = pd.Series([3, 4, 5], index=['0', '1', '2'])
s1 + s2

0   NaN
1   NaN
2   NaN
0   NaN
1   NaN
2   NaN
dtype: float64

In [87]:
s = pd.Series(np.arange(100, 110), index=np.arange(10, 20))
s

10    100
11    101
12    102
13    103
14    104
15    105
16    106
17    107
18    108
19    109
dtype: int64

In [89]:
s[0:6:2]

10    100
12    102
14    104
dtype: int64

In [90]:
s.iloc[[0, 2, 4]]

10    100
12    102
14    104
dtype: int64

In [91]:
s[:5]

10    100
11    101
12    102
13    103
14    104
dtype: int64

In [92]:
s[:5:2]

10    100
12    102
14    104
dtype: int64

In [54]:
s[::-1]

19    109
18    108
17    107
16    106
15    105
14    104
13    103
12    102
11    101
10    100
dtype: int64

In [53]:
s[:-2]

10    100
11    101
12    102
13    103
14    104
15    105
16    106
17    107
dtype: int64